@font-face {
    font-family: English Rose;
    src: url(https://github.com/Wokiput/Site/tree/Test/fonts/EnglishRose.ttf);
    font-family: Bleeding CowboysRUS;
    src: url(https://github.com/Wokiput/Site/tree/Test/fonts/BleedingCowboysRUS.ttf);
}
body{
    background-color: #006A55;
}
h1{
    font-family: English Rose, 'Comic Sans MS', cursive;
    color: #5ED1BA;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
}
main{
    text-align: center;
    background-color: #3F046F;
    img{
        display: block;
        margin: 0 auto;
    }
}
bottom{
    background-color: white;
    color: #A468D5;
    font-family: Bleeding CowboysRUS, 'Comic Sans MS';
    line-height: 100px;
    width: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    padding: 0 10px 10px 5px;
    border: 5px solid black;
}
