@font-face {
    font-family: English Rose;
    src: url(https://github.com/Wokiput/Site/tree/Test/fonts/EnglishRose.ttf);
    font-family: Bleeding CowboysRUS;
    src: url(https://github.com/Wokiput/Site/tree/Test/fonts/BleedingCowboysRUS.ttf);
}
body{
    background-color: #3F92D2;
}
h1{
    font-family: English Rose, 'Comic Sans MS', cursive;
    color: #FF9200;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
}
main{
    text-align: center;
    background-color: yellow;
}
main1{
    background-color: whitesmoke;
    color: #3E94D1;
    font-family: Bleeding CowboysRUS, 'Comic Sans MS';
    line-height: 100px;
    width: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    padding: 0 10px 10px 5px;
    border: 5px solid black;
}
.block1{
    width: 50px; 
    background: whitesmoke;
    padding: 10px;
    padding-right: 20px; 
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.block2{
    display: block;
    max-width: 250px; 
    max-height: 100px;
    background: whitesmoke;
    padding: 200px;
    padding-right: 20px; 
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.img{
    max-width: 500px;
    max-height: 300px;
    position: relative 
}
.img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}